$black: #000000;
$white: #ffffff;
$primary: #cddc27;
$secondary: #5c05ff;

$link: #7226ff;
$linkHover: #3c00aa;

$gradient: linear-gradient(0deg, rgba($black, 0.5) 25%, rgba($black, 0) 50%);

$font-family: "Roboto", sans-serif;
$font-size: 16px;
$line-height: 27px;

$transition: all 0.3s ease;

$shadow: 0px 15px 16px 0px rgba($black, 0.05), 0px 6px 8px 0px rgba($black, 0.1),
  0px 1px 4px 0px rgba($black, 0.15), 0px 0px 2px 0px rgba($black, 0.2),
  0px 1px 1px 0px rgba($black, 0.25);
$inputShadow: 0px 1px 3px 0px rgba($black, 0.5);
$inputShadowFocus: 0 5px 11px 0 rgba($black, 0.18),
  0 4px 15px 0 rgba($black, 0.15) !important;

// short vars for use in scss
$xs: map-get($grid-breakpoints, "xs");
$sm: map-get($grid-breakpoints, "sm");
$md: map-get($grid-breakpoints, "md");
$lg: map-get($grid-breakpoints, "lg");
$xl: map-get($grid-breakpoints, "xl");

$accordion-icon-active-color: #fff !important;
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
